@import 'main.css';
/* Phones */
@media screen and (max-width: 768px) {
	body {
        background-color: rgb(4,180,134);
    }
    .mobile-header {
        background-image: url(../images/headerback.png);
        background-size: cover;
        margin-top: 0;
    }
    .mobile-header img {
        background-color: rgba(255,255,255,0.2);
        border-radius: 150%;
    }
    .fa .fa-shopping-cart {
        margin-top: -50px;
    }
    .caption1 {
        margin-top: 225px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border: 4px solid black;
        color: black;
        background-color: rgb(143,0,255);
        border-radius: 50px 50px 0 0;
        padding: 10px;
        margin-bottom: -1px;
    }
    .container1 {
        border: 1px solid black;
        display: grid;
        grid-template-rows: 200px 200px 200px; 
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "highlight1 highlight1"
            "highlight2 highlight3"
            "highlight4 highlight4";
        background-color: black;
        border-radius: 0 0 15px 15px;
        padding-bottom: 15px;
    }
    .highlight1 {
        grid-area: highlight1;
        border: 1px solid black;
        margin: 2px;
        justify-content: center;
        background-image: url(../images/WoWimg.jpg);
        background-size: cover;
        background-position: center;
    }
    .highlight2 {
        grid-area: highlight2;
        border: 1px solid black;
        margin: 2px;
        justify-content: center;
        background-image: url(../images/Kenshiimg.png);
        background-size: cover;
    }
    .highlight3 {
        grid-area: highlight3;
        border: 1px solid black;
        margin: 2px;
        justify-content: center;
        background-image: url(../images/LoLimg.jpg);
        background-size: cover;
        background-position: center;
    }
    .highlight4 {
        grid-area: highlight4;
        border: 1px solid black;
        margin: 2px;
        justify-content: center;
        background-image: url(../images/Overwatchimg.jpg);
        background-size: cover;
    }
    .caption2 {
        margin-top: 25px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border: 4px solid black;
        color: black;
        background-color: rgb(143,0,255);
        border-radius: 50px 50px 0 0;
        padding: 10px;
        margin-bottom: -1px;
    }
    .container2 {
        border: 1px solid black;
        display: grid;
        grid-template-rows: 75px 75px 75px 75px 75px; 
        grid-template-columns: 100%;
        grid-template-areas: 
            "label1"
            "label2"
            "label3"
            "label4"
            "label5";
        text-align: left;
        background-color: black;
        border-radius: 0 0 15px 15px;
        padding-bottom: 15px;
    }
    .label1 {
        font-weight: bold;
        text-decoration: underline;
        grid-area: label1;
        font-size: 20px;
        color: rgb(4,180,134);
        background-image: url(../images/FPSbanner.jpg);
        background-size: cover;
        background-position: center;
        margin: 0 3px 0 3px;
    }
    .label2 {
        font-weight: bold;
        text-decoration: underline;
        grid-area: label2;
        font-size: 20px;
        color: rgb(4,180,134);
        background-image: url(../images/HnSbanner.jpg);
        background-size: cover;
        background-position: center;
        margin: 0 3px 0 3px;
    }
    .label3 {
        font-weight: bold;
        text-decoration: underline;
        grid-area: label3;
        font-size: 20px;
        color: rgb(4,180,134);
        background-image: url(../images/Roguelikebanner.png);
        background-size: cover;
        background-position: center top;
        margin: 0 3px 0 3px;
    }
    .label4 {
        font-weight: bold;
        text-decoration: underline;
        grid-area: label4;
        font-size: 20px;
        color: rgb(4,180,134);
        background-image: url(../images/Simbanner.jpg);
        background-size: cover;
        background-position: center;
        margin: 0 3px 0 3px;
    }
    .label5 {
        font-weight: bold;
        text-decoration: underline;
        grid-area: label5;
        font-size: 20px;
        color: rgb(4,180,134);
        background-image: url(../images/Survivalbanner.jpg);
        background-size: cover;
        background-position: center top;
        margin: 0 3px 0 3px;
    }
    .caption3 {
        margin-top: 25px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border: 4px solid black;
        color: black;
        background-color: rgb(143,0,255);
        padding: 10px;
        margin-bottom: -1px;
    }
    .container3 {
        border: 1px solid black;
        display: grid;
        grid-template-rows:; 
        grid-template-columns:;
        grid-template-areas: 
            "description";
        text-align: left;
        background-color: black;
        border-radius: 0 0 15px 15px;
        margin-bottom: 25px;
    }
    .condesc {
        grid-area: description;
        color: white;
        font-size: 20px;
        margin: 10px;
    }
    .request {
        color: rgb(4,180,134);
        text-decoration: underline;
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }
    .footer {
        background-color: rgb(11,97,33);
    }
    .footer-box1 {
        background-color: rgb(88,250,172);
    }
    .footer-box2 {
        background-color: rgb(88,250,172);
    }
    .footer-box3 {
        background-color: rgb(88,250,172);
    }
    .footer-box4 {
        background-color: rgb(88,250,172);
    }
}
/* Tablets */
@media only screen and (min-width: 760px) and (max-width: 960px) {

}
/* Laptops */
@media screen and (max-width: 1200px) and (min-width: 960px) {

}
/* Desktops */
@media screen and (min-width: 1200px) {
    .mobile-header {
        background-image: url(../images/headerback.png);
        background-size: cover;
    }
	.container1 {
        border: 1px solid black;
    }
    .highlight1 {
        border: 1px solid black;
    }
    .highlight2 {
        border: 1px solid black;
    }
    .highlight3 {
        border: 1px solid black;
    }
    .highlight4 {
        border: 1px solid black;
    }
}