/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/**{
	box-sizing: border-box;
}*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

/*hide the checkbox*/
input[type=checkbox] {
	position: fixed;
	opacity: 0;
}

/*header navbar style*/
.ul-header {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.nav-list {
	font-size: 27px;
}
.nav-list li{
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*float: left;*/
	padding: 1rem;
	text-decoration: none;
	font-weight: bold;
	transition-duration: 0.5s;
}
.nav-list li a {
	color: #FFFFFF;
	text-decoration: none;
}
.nav-list li a:hover {
	color: #8f00ff;
}
/*header navbar style end*/


/*header icons*/
.fa-shopping-cart, .fa-user {
	font-size: 35px;
	color: #FFFFFF;
}
/*header icons ends*/


/*header shopping cart hover*/
.cart:hover > .cart-header {
	display: block;
}

.cart-header {
    margin-top: 110px;
    background: rgb(225, 214, 228);
    width:320px;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 3px;
    padding:20px;
    display: none;
}

.cart-header:after {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
    margin-left: -8px;
}


.cart-header1 {
    border-bottom: 1px solid #8f00ff;
    padding-bottom: 16px;
}

.cart-total {
    float: right;
}

.cart-items {
    padding-top: 10px;
}

li {
    margin-bottom: 19px;
}

.header-game-logo {
	float: left;
	margin-right: 12px;
}

.game {
	
    display:inline-block;
    padding-top: 1px;
    font-size: 16px;
}

.price1 {
    color: #8f00ff;
    margin-right: 8px;
}

.quantity1 {
    color: gray;
}



.checkoutbtn {
  background-color: #8f00ff;
  display: flex;
  justify-content: space-around;
  padding: 12px;;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 25px 0 25px;
}

.checkoutbtn:hover {
    background: rgb(220, 133, 223);
}

.clearfix {
	font-size: 16px;
}

.clearfix:after {
    display: table;
    clear: both;
}


.badge {
    background-color: #8f00ff;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
/*header shopping cart hover ends*/


/*mobile header style*/
.mobile-size-gamebar-logo {
	display: none;
}
.mobile-header{
	display: none;
}
#logo {
	margin: auto;
	padding: 0;
}
.login {
	margin-left: auto;
}

a:hover{
	color: #8f00ff;
}

.vl {
	border-left: 1px solid black;
	height: 80px;
}

.main-header{
	text-align: center;
	margin-top: 75px;
	padding: 0 10px;
}

.front-page-coach,
.front-page-games {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px 0;
}

/*front page coach cards*/
.profile {
	background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#444;
	width: 250px;
	height: 300px;
	border-radius:10px;
	margin: 10px 0;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition:all .3s;
}

.profileName {
	background:transparent;
	border:0;
	text-align:center;
	font-size:16px;
	font-weight:800;
	color:#eee;
	padding-top: 5px;
}

.isVerified {
	fill: #eee;
	margin:5px;
}

.card-body {
	color:#eee;
	margin-top:1.5em;
}
.avatar {
	border-radius:50%;
	max-width:128px;
	transform: scale(0.95);
	transition:all .5s;
	cursor:pointer;
}
.avatar:hover {
	transform: scale(1.1);
	box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
}
.profilePic {
	text-align:center;
}
.isOnline {
	text-align:center;
	font-weight:200;
	color:#eee;
}
.profileInfo {
	margin-top:1em;
	font-weight:200;
	font-size:12px;
	color:#eee;
	text-align:center;
}
.actions {
	background:transparent;
	border:0;
	color:#fff;
	display:inline-flex;
}
/*front page coach cards end*/


/*front page how it work section*/
.fa-stack,
.fa-arrow-right,
.fa-arrow-down{
	font-size: 50px;
}
.fa-arrow-down {
	display: none;
}
.front-page-howitwork {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	text-align: center;
	box-shadow: 1px 1px 5px grey;
	margin: 0 10px;
	border-radius: 10px;
	padding-top: 17px;
}
/*front page how it work section end*/


/*front page game cards*/
.gamecard {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#444;
	width: 250px;
	height: 300px;
	border-radius:10px;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transform: scale(0.95);
	transition:all .3s;
	cursor:pointer;
}

.gamecard:hover{
	transform: scale(1);
	box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
}
.game-card-body{
	color:#eee;
}
.game-card-info {
	font-size: x-large;
	background-color: black;
	height: 300px;
	border-radius: 10px;
	opacity: 0.6;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-card-info:hover{
	opacity: 0;
}

.wow-profile {
	background-image: url(../images/wow-fp-card.jpg);
}
.kenshi-profile {
	background-image: url(../images/kenshi-fp-card.jpg);
}
.lol-profile {
	background-image: url(../images/lol-fp-card.jpg);
}
.overwatch-profile {
	background-image: url(../images/overwatch-fp-card.jpg);
}
/*front page game cards end*/



header.sticky {
	height: 135px;
	margin-top: -35px;
}
label.sticky{
	margin-top: -30px;
}

.header {
	grid-area: header;
	position: fixed;
	width: 100%;
	height: 200px;
	top: 0;
	z-index: 2;
	background-color: #000000;
	background-image: url(https://images.unsplash.com/photo-1550982030-7c1af41addbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/

	/*add the animation*/
	transition: width 0.3s, height 0.3s, margin 0.3s;
	transition-duration: 0.5s;
}

.buttons {
	display: flex;

}

.box1 {
	grid-area:box1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.game1,
.game2,
.game3,
.game4 {
	transform: scale(0.95);
	transition:all .5s;
}
.game1:hover,
.game2:hover,
.game3:hover,
.game4:hover {
	transform: scale(1.1);
}

.main {
	grid-area:main;
}

.sidebar {
	grid-area:sidebar;
}

.footer {
	grid-area: footer;
	text-align: center;
	margin-top: 65px;
	background-color: #000000;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "i1 i1 i1 i2 i2 i2 i3 i3 i3 i4 i4 i4";
}

.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4 {
	color: white;
}

.footer-box1 a,
.footer-box2 a {
	color: white;
	text-decoration: none;
}

.footer-box1 a:hover,
.footer-box2 a:hover {
	color: #8f00ff;
}


.footer-box1 {
	grid-area: i1;
	margin: 30px 5px;
	border-right: 1px solid;
}

.footer-box2 {
	grid-area: i2;
	margin: 30px 5px;
	border-right: 1px solid;
}

.footer-box3 {
	grid-area: i3;
	margin: 30px 5px;
	border-right: 1px solid;
}

.footer-box4 {
	grid-area: i4;
	margin: 30px 5px;
}

.social {
	justify-content: space-around;
	display: flex;
	align-content: center;
	flex-direction: column;
}
.social a {
	margin: 5px 0;
}

/*footer socials*/
.fa-facebook, .fa-instagram, .fa-twitter {
	font-size: 30px;
	color: #FFFFFF;
}

.fa:hover {
	color: #8f00ff;
}
/*footer socials end*/

.container{
	width: 100%;
	/*margin: 20px auto;*/
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*grid-template-rows: repeat(4, minmax(200px, auto));*/
	grid-template-areas:
	"header header header header header header header header header header header header"
	"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1" 
	"main main main main main main main main main main main main"
	"footer footer footer footer footer footer footer footer footer footer footer footer";
	/*grid-gap: 2% 2%;*/
}

/*Laptops*/
@media screen and (max-width: 1200px) and (min-width: 960px) {
	.container {
		/*grid-template-rows: repeat(4, minmax(200px, 1fr));*/
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"main main main main main main main main main main main main"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
	.profile,
	.gamecard {
		flex: 1 1 190px;
		margin: 10px 10px;
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 960px){
	.container {
		/*grid-gap: 2% 4%;*/
		/*grid-template-rows: repeat(3, 1fr) 2fr;*/
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"header header header header header header"
		"box1 box1 box1 box1 box1 box1"
		"main main main main main main"
		"footer footer footer footer footer footer";
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, minmax(180px, 1fr));
		grid-template-areas: 
		"i1 i2"
		"i3 i4";
	}
	.mobile-header {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#mobile-logo {
		margin-left: auto;
	}
	#mobile-login {
		margin-left: auto;
		padding-right: 5px;
	}
	#mobile-cart {
		padding: 0 15px;
	}

	.footer-box2 {
		border-right: none;
	}

	.profile,
	.gamecard {
		flex: 1 1 290px;
		margin: 10px 15px;
	}
}

/*Mobile*/
@media screen and (max-width: 768px) {
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, minmax(auto, auto));
		grid-template-areas: 
		"header"
		"box1"
		"main"
		"sidebar"
		"footer"
		"footer"
		"footer"
		"footer";
	}
	.footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, minmax(200px, auto));
		grid-template-areas: 
		"i1"
		"i2"
		"i3"
		"i4";
	}

	.footer-box1,
	.footer-box2,
	.footer-box3 {
		border-right: none;
		border-bottom: 1px solid;
		margin: 5px 40px;
	}
	.box1 {
		margin-top: 200px;
	}
	.mobile-header {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#mobile-logo img{
		width: 240px;
	}
	#mobile-logo {
		margin-left: auto;
	}
	#mobile-login {
		margin-left: auto;
		padding-right: 5px;
	}
	#mobile-cart {
		padding: 0 15px;
	}

	.nav-toggle {
		top: 50px !important;
	}
	.full-size-gamebar-logo{
		display: none;
	}
	.mobile-size-gamebar-logo{
		display: block;
	}
	.front-page-howitwork {
		flex-direction: column;
		align-items: center;
	}
	.fa-arrow-right {
		display: none;
	}
	.fa-arrow-down {
		display: block;
	}
}

/*hide navigation menu and show hamburger bar*/
@media only screen and (max-width: 960px) {
	
	.nav-toggle {
		position: fixed;
		display: block;
		top: 65px;
		left: 11px;
		height: 32px;
		width: 40px;
		cursor: pointer;
		z-index: 200;
		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
	}

	.nav-toggle span {
		position: relative;
		display: block;
		height: 5px;
		width: 40px;
		background: #FFFFFF;

		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
		transition: all 0.5s ease;
	}

	.nav-toggle span:nth-child(2) {
		top:12px;
	}
	.nav-toggle span:nth-child(3) {
		top:24px;
	}

	/*Toggle moving*/
	input[type=checkbox]:checked ~ .nav-toggle {
		margin-left: 80%;
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(2) {
		/*display: none;*/
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(1) {
		top: 8px;
		right: 1px;
		width: 25px;
		transform: rotate(140deg);
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(3) {
		top: 16px;
		right: 1px;
		width: 25px;
		transform: rotate(-140deg);
	}

	input[type=checkbox]:checked ~ .menu {
		margin-left: 0;
	}
	input[type=checkbox]:checked ~ header {
		margin-left: 320px;
	}

	.menu{
		position: fixed;
		margin-left: -101%;
		height: 100%;
		width: 100%;
		top: 0;
		/*opacity: 0.8;*/
		z-index: 100;
		background-color: #000000;

		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
	}

	ul {
		display: flex;
		list-style: none;
		align-items: center;
		flex-direction: column;
	}

	.nav-list {
		position: relative;
		top: 35px;
	}
	.login{
		margin: 0;
	}
}
