/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

/*hide the checkbox*/
input[type=checkbox] {
	position: fixed;
	opacity: 0;
}

/*header navbar style*/
ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.nav-list {
	font-size: 27px;
}
.nav-list li{
	/*background: #000000;*/
	display: flex;
	justify-content: space-between;
	float: left;
	padding: 1rem;
	text-decoration: none;
	font-weight: bold;
	transition-duration: 0.5s;
}
.nav-list li a {
	color: #FFFFFF;
	text-decoration: none;
}
.nav-list li a:hover {
	color: #8f00ff;
}

/*p {
	color: #000000;
}*/


/*header icons*/
.fa-shopping-cart, .fa-user {
	font-size: 35px;
	color: #FFFFFF;
}
/*header icons ends*/

.mobile-size-gamebar-logo {
	display: none;
}
.mobile-header{
	display: none;
}
#logo {
	margin: auto;
	padding: 0;
}
.login {
	margin-left: auto;
}

a:hover{
	color: #8f00ff;
}


.vl {
	border-left: 1px solid black;
	height: 50px;
}

[class*="*"]
div,    
.header,
.box1,
.box2,
.box3,
.main,
.sidebar,
.footer,
.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4{
	border: 2px solid black;
}

/*front page coach cards*/
.main-header{
	text-align: center;
	margin-top: 75px;
}
.front-page-coach,
.front-page-games {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.profile {
	background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#444;
	width: 250px;
	height: 300px;
	border-radius:10px;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition:all .3s;
}

.profileName {
	background:transparent;
	border:0;
	text-align:center;
	font-size:16px;
	font-weight:800;
	color:#eee;
	padding-top: 5px;
}

.isVerified {
	fill: #eee;
	margin:5px;
}

.card-body {
	color:#eee;
	margin-top:1.5em;
}
.avatar {
	border-radius:50%;
	max-width:128px;
	transform: scale(0.95);
	transition:all .5s;
	cursor:pointer;
}
.avatar:hover {
	transform: scale(1.1);
	box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
}
.profilePic {
	text-align:center;
}
.isOnline {
	text-align:center;
	font-weight:200;
	color:#eee;
}
.profileInfo {
	margin-top:1em;
	font-weight:200;
	font-size:12px;
	color:#eee;
	text-align:center;
}
.actions {
	background:transparent;
	border:0;
	color:#fff;
	display:inline-flex;
}
/*front page coach cards end*/


/*front page how it work section*/
.fa-stack,
.fa-arrow-right{
	font-size: 50px;
}
.front-page-howitwork {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	text-align: center;
}
/*front page how it work section end*/


/*front page game cards*/
.wow-profile,
.kenshi-profile,
.lol-profile,
.overwatch-profile {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#444;
	width: 250px;
	height: 300px;
	border-radius:10px;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transform: scale(0.95);
	transition:all .3s;
	cursor:pointer;
}

.wow-profile:hover,
.kenshi-profile:hover,
.lol-profile:hover,
.overwatch-profile:hover {
	transform: scale(1);
	box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
}
.game-card-body{
	color:#eee;
}
.game-card-info {
	font-size: x-large;
	background-color: black;
	height: 300px;
	border-radius: 10px;
	opacity: 0.6;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-card-info:hover{
	opacity: 0;
}

.wow-profile {
	background-image: url(../images/wow-fp-card.jpg);
}
.kenshi-profile {
	background-image: url(../images/kenshi-fp-card.jpg);
}
.lol-profile {
	background-image: url(../images/lol-fp-card.jpg);
}
.overwatch-profile {
	background-image: url(../images/overwatch-fp-card.jpg);
}
/*front page game cards end*/



header.sticky {
	height: 135px;
	margin-top: -35px;
}
label.sticky{
	margin-top: -30px;
}

.header {
	grid-area: header;
	position: fixed;
	width: 100%;
	height: 200px;
	top: 0;
	z-index: 2;
	background-color: #000000;

	/*add the animation*/
	transition: width 0.3s, height 0.3s, margin 0.3s;
	transition-duration: 0.5s;
}

.buttons {
	display: flex;

}

.box1 {
	grid-area:box1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 200px;
}
.game1,
.game2,
.game3,
.game4 {
	transform: scale(0.95);
	transition:all .5s;
}
.game1:hover,
.game2:hover,
.game3:hover,
.game4:hover {
	transform: scale(1.1);
}

.main {
	grid-area:main;
}

.sidebar {
	grid-area:sidebar;
}

.footer {
	grid-area: footer;
	text-align: center;
	background-color: #000000;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "i1 i1 i1 i2 i2 i2 i3 i3 i3 i4 i4 i4";
}

.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4 {
	color: white;
}

.footer-box1 a,
.footer-box2 a {
	color: white;
}

.footer-box1 a:hover,
.footer-box2 a:hover {
	color: #8f00ff;
}


.footer-box1 {
	grid-area: i1;
	margin: 5px;
}

.footer-box1, a {
	text-decoration: none;

}

.footer-box2 {
	grid-area: i2;
	margin: 5px;
}

.footer-box3 {
	grid-area: i3;
	margin: 5px;
}

.footer-box4 {
	grid-area: i4;
	margin: 5px;
}

.social {
	justify-content: space-around;
	display: flex;
	align-content: center;
	flex-direction: column;
}

/*footer socials*/
.fa-facebook, .fa-instagram, .fa-twitter {
	font-size: 30px;
	color: #FFFFFF;
}

.fa:hover {
	color: #8f00ff;
}
/*footer socials end*/

.container{
	width: 100%;
	/*margin: 20px auto;*/
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*grid-template-rows: repeat(4, minmax(200px, auto));*/
	grid-template-areas:
	"header header header header header header header header header header header header"
	"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1" 
	"main main main main main main main main main main main main"
	"footer footer footer footer footer footer footer footer footer footer footer footer";
	/*grid-gap: 2% 2%;*/
}

/*Laptops*/
@media screen and (max-width: 1200px) and (min-width: 960px) {
	.container {
		/*grid-template-rows: repeat(4, minmax(200px, 1fr));*/
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"main main main main main main main main main main main main"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 960px){
	.container {
		/*grid-gap: 2% 4%;*/
		/*grid-template-rows: repeat(3, 1fr) 2fr;*/
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"header header header header header header"
		"box1 box1 box1 box1 box1 box1"
		"main main main main main main"
		"footer footer footer footer footer footer";
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, minmax(180px, 1fr));
		grid-template-areas: 
		"i1 i2"
		"i3 i4";
	}
	.mobile-header {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#mobile-logo {
		margin-left: auto;
	}
	#mobile-login {
		margin-left: auto;
		padding-right: 5px;
	}
	#mobile-cart {
		padding: 0 15px;
	}
}
/*Mobile*/
@media screen and (max-width: 768px) {
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, minmax(auto, auto));
		grid-template-areas: 
		"header"
		"box1"
		"main"
		"sidebar"
		"footer"
		"footer"
		"footer"
		"footer";
	}
	.footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, minmax(200px, auto));
		grid-template-areas: 
		"i1"
		"i2"
		"i3"
		"i4";
	}
	.box1 {
		margin-top: 200px;
	}
	.mobile-header {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#mobile-logo img{
		width: 240px;
	}
	#mobile-logo {
		margin-left: auto;
	}
	#mobile-login {
		margin-left: auto;
		padding-right: 5px;
	}
	#mobile-cart {
		padding: 0 15px;
	}

	.nav-toggle {
		top: 50px !important;
	}
	.full-size-gamebar-logo{
		display: none;
	}
	.mobile-size-gamebar-logo{
		display: block;
	}
}

/*hide navigation menu and show hamburger bar*/
@media only screen and (max-width: 960px) {
	
	.nav-toggle {
		position: fixed;
		display: block;
		top: 65px;
		left: 11px;
		height: 32px;
		width: 40px;
		cursor: pointer;
		z-index: 200;
		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
	}

	.nav-toggle span {
		position: relative;
		display: block;
		height: 5px;
		width: 40px;
		background: #FFFFFF;

		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
		transition: all 0.5s ease;
	}

	.nav-toggle span:nth-child(2) {
		top:12px;
	}
	.nav-toggle span:nth-child(3) {
		top:24px;
	}

	/*Toggle moving*/
	input[type=checkbox]:checked ~ .nav-toggle {
		margin-left: 80%;
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(2) {
		/*display: none;*/
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(1) {
		top: 8px;
		right: 1px;
		width: 25px;
		transform: rotate(140deg);
	}

	input[type=checkbox]:checked ~ .nav-toggle span:nth-child(3) {
		top: 16px;
		right: 1px;
		width: 25px;
		transform: rotate(-140deg);
	}

	input[type=checkbox]:checked ~ .menu {
		margin-left: 0;
	}
	input[type=checkbox]:checked ~ header {
		margin-left: 320px;
	}

	.menu{
		position: fixed;
		margin-left: -101%;
		padding: 10px;
		height: 100%;
		width: 100%;
		top: 0;
		/*opacity: 0.8;*/
		z-index: 100;
		background-color: #000000;

		/*add the animation*/
		transition: margin 0.3s;
		transition-duration: 0.5s;
	}

	ul {
		display: flex;
		list-style: none;
		align-items: center;
		flex-direction: column;
	}

	.nav-list {
		position: relative;
		top: 35px;
	}
	.login{
		margin: 0;
	}
}
